@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-family: 'Oswald', sans-serif;
  outline: none;
  border: none;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: hsla(186, 33%, 94%, 1);

  background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: .5rem;
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

button:hover {
  cursor: pointer;
  opacity: .8;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 700px;
  height: 80%;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 2px solid rgb(148, 148, 148);
}

.title-section h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 4rem;
  color: #fff;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.input-container {
  display: flex;
  width: 100%;
  border-radius: .2rem;
  overflow: hidden;
}

.input-container input {
  flex: 1;
  padding: 0 1rem;
  background: rgb(238, 238, 238);
  font-size: 1.5rem;
  overflow: scroll;
}

.input-container input:focus {
  background: #fff;
  border-bottom: 2px solid hsl(199, 100%, 60%);
}

.input-container button {
  padding: 0 1rem;
}

#add i,
#filter i {
  pointer-events: none;
}

#add {
  background: hsl(199, 100%, 60%);
}

#filter {
  background: rgb(255, 197, 6);
}

.todo-container {
  width: 100%;
  margin-top: 2rem;
  max-height: 525px;
  overflow-y: scroll;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fff;
  border-left: 2px solid #000;
  margin-bottom: .5rem;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.todo:last-child {
  animation: move-left 1s ease-in-out;
}

@keyframes move-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.todo input {
  flex: 1;
  font-size: 1.5rem;
  padding: .8rem;
}

.todo input:focus {
  border-bottom: 2px solid lime;
}

.todo-text::placeholder {
  font-size: .8rem;
}

.complete,
.edit,
.delete {
  background: transparent
}

.complete,
.edit,
.delete i {
  font-size: 1.5rem;
}

.completed {
  border-left: 2px solid lime;
  background: rgb(192, 192, 192);
}

.completed input {
  color: lime;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  background: transparent;
  text-decoration: line-through;
}

.completed .edit {
  display: none;
}

.completed button {
  background: transparent;
}